<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StratisFederated Sidechains Dashboard</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
	<link rel="icon" href="~/favicon.ico" />
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <!--<script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>-->
    <script type="text/javascript" src="~/js/default.js"></script>
</body>
</html>
