@{
    IgnoreBody();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stratis Federated Sidechains Dashboard</title>
    <link href="~/css/default.css" rel="stylesheet" />
	<link rel="icon" type="image/svg" href="~/images/logo.svg" />
</head>
<body>
    <partial name="Modals" />
    <!-- Main Navbar -->
    <nav class="navbar navbar-dark bg-purple fixed-top">
      <a class="navbar-brand mr-4" href="#">
        <img src="~/images/logo_white.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <div class="navbar-text text-white">Federation members dashboard for Apex</div>
      <span class="badge badge-purple ml-auto">Status OK</span>
    </nav>
    <!-- /Main Navbar -->
    <!-- Sub navbar -->
    <nav class="navbar navbar-light bg-white py-1 fixed-top d-flex align-items-center" style="margin-top:56px;">
      <div class="navbar-text d-inline">
        <ul class="list-inline mb-0 d-flex align-items-center">
          <li class="list-inline-item text-dark">Mainchain wallet address</li>
          <li class="list-inline-item text-truncate">31EBX8oNk6GoPufm755yuFtbBgEPmjPvdK</li>
        </ul>
      </div>
      <div class="navbar-text d-inline">
        <ul class="list-inline mb-0 ml-5 ml-md-2 d-flex align-items-center">
          <li class="list-inline-item text-dark">Apex wallet address</li>
          <li class="list-inline-item text-truncate">pTEBX8oNk6GoPufm755yuFtbBgEPmjPvdK
            <a href="#">
              <i class="material-icons">file_copy</i>
            </a>
          </li>
        </ul>
      </div>
      <div class="navbar-text ml-auto">
        <a data-toggle="modal" data-target="#miningPublicKeys" class="d-flex align-items-center"> Mining public keys <i class="material-icons md-18 ml-2">open_in_new</i></a>
      </div>
    </nav>
    <!-- /Sub navbar -->
    <!-- content -->
    <section class="container-fluid marginTop">
      <div class="row my-2">
        <!-- col -->
        <div class="col-lg-6 col-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="pb-3 mb-3">
                <div class="mr-auto d-inline-block"><h3>Stratis Node</h3></div>
                <!-- ul -->
                <ul class="list-inline float-right d-flex align-items-center">
                  <li class="list-inline-item">
                    <span class="badge badge-warning">
                      <i class="material-icons">sync</i> Syncing... 67%
                    </span>
                  </li>
                  <li class="list-inline-item ml-3">
                    <div class="btn-group">
                      <button type="button" class="btn btn-option btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons md-24">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button data-toggle="modal" data-target="#recyncCrosschain" class="dropdown-item" type="button">Resync crosschain transactions</button>
                        <button data-toggle="modal" data-target="#recyncBlockchain" class="dropdown-item" type="button">Resync blockchain</button>
                        <div class="dropdown-divider"></div>
                        <button data-toggle="modal" data-target="#stopNode" class="dropdown-item text-danger d-flex align-items-center" type="button">Stop Node</button>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- /ul -->
              </div>
              <div class="card-text">
                <ul class="list-inline mb-0 row">
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Web API URL :</strong></li>
                      <li class="list-inline-item"><a href="#">http://localhost:38221/api</a></li>
                    </ul>
                  </li>
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Swagger :</strong></li>
                      <li class="list-inline-item"><a href="#">http://localhost:38221/swagger</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="list-inline mb-0 row">
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Block height :</strong></li>
                      <li class="list-inline-item"><a href="#">655258</a></li>
                    </ul>
                  </li>
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline d-flex align-itmes-center">
                      <li class="list-inline-item"><strong>Block hash :</strong></li>
                      <li class="list-inline-item text-truncate" style="max-width: 150px;">
                        <a href="#">8e60157317a26376210098c0afda3601d49ac2419924c320ea402d6fcf079fd4</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="list-inline mb-0 row">
                  <li class="col-12">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Mempool size :</strong></li>
                      <li class="list-inline-item text-muted">3</li>
                    </ul>
                  </li>
                  <li class="col-12">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Wallet balance :</strong></li>
                      <li class="list-inline-item text-green">Confirmed: 330.99503280</li>
                      <li class="list-inline-item text-muted">/</li>
                      <li class="list-inline-item text-muted">Unconfirmed: 0.00000000</li>
                    </ul>
                  </li>
                </ul>
                <label class="mt-3"><strong>Peers :</strong></label>
                <table class="table table-sm table-striped">
                  <tbody>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                  </tbody>
                </table>
                <label><strong>Federation members :</strong></label>
                <table class="table table-sm table-striped">
                  <tbody>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex align-items-center mb-4">
                <label class="d-flex justify-content-start">
                  <strong>History <small class="text-muted">(28)</small></strong>
                </label>
                <span class="d-flex justify-content-end align-items-center ml-auto">
                  <a data-toggle="modal" data-target="#history" class="btn btn-outline-primary">See all history</a>
                </span>
              </div>
              <table class="table table-sm table-history">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Destination</th>
                    <th class="text-center" scope="col">Tx ID</th>
                    <th class="text-center" scope="col">Seen in block</th>
                    <th class="text-center" scope="col">Confirmed in block</th>
                    <th class="text-center" scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center"><i class="material-icons text-yellow md-18">schedule</i></td>
                    <td class="text-center text-truncate"><code>pTEBX8oNk6GoPufm755yuFtbBgEPmjPvdK</code></td>
                    <td class="text-left text-truncate" style="max-width: 110px;"><a href="">41a651dda85edfe703a2668a4d75a5e1dd7b3145614d5734c229c479de2af6d1</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-right">199997.00</td>
                  </tr>
                  <tr>
                    <td class="text-center"><i class="material-icons text-green md-18">check_circle</i></td>
                    <td class="text-center text-truncate"><code>pTEBX8oNk6GoPufm755yuFtbBgEPmjPvdK</code></td>
                    <td class="text-left text-truncate" style="max-width: 110px;"><a href="">41a651dda85edfe703a2668a4d75a5e1dd7b3145614d5734c229c479de2af6d1</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-right">199997.00</td>
                  </tr>
                  <tr>
                    <td class="text-center"><i class="material-icons text-green md-18">check_circle</i></td>
                    <td class="text-center text-truncate"><code>pTEBX8oNk6GoPufm755yuFtbBgEPmjPvdK</code></td>
                    <td class="text-left text-truncate" style="max-width: 110px;"><a href="">41a651dda85edfe703a2668a4d75a5e1dd7b3145614d5734c229c479de2af6d1</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-right">199997.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /col -->
        <div class="col-lg-6 col-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="pb-3 mb-3">
                <div class="mr-auto d-inline-block"><h3>Apex Node</h3></div>
                <!-- ul -->
                <ul class="list-inline float-right d-flex align-items-center">
                  <li class="list-inline-item">
                    <span class="badge badge-success">
                      <i class="material-icons">sync</i> Synced 100%
                    </span>
                  </li>
                  <li class="list-inline-item ml-3">
                    <div class="btn-group">
                      <button type="button" class="btn btn-option btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons md-24">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Resync crosschain transactions</button>
                        <button class="dropdown-item" type="button">Resync blockchain</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item text-danger d-flex align-items-center" type="button">Stop Node</button>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- /ul -->
              </div>
              <div class="card-text">
                <ul class="list-inline mb-0 row">
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Web API URL :</strong></li>
                      <li class="list-inline-item"><a href="#">http://localhost:38221/api</a></li>
                    </ul>
                  </li>
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Swagger :</strong></li>
                      <li class="list-inline-item"><a href="#">http://localhost:38221/swagger</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="list-inline mb-0 row">
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Block height :</strong></li>
                      <li class="list-inline-item"><a href="#">655258</a></li>
                    </ul>
                  </li>
                  <li class="col-12 col-xl-6">
                    <ul class="list-inline d-flex align-itmes-center">
                      <li class="list-inline-item"><strong>Block hash :</strong></li>
                      <li class="list-inline-item text-truncate" style="max-width: 150px;">
                        <a href="#">8e60157317a26376210098c0afda3601d49ac2419924c320ea402d6fcf079fd4</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="list-inline mb-0 row">
                  <li class="col-12">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Mempool size :</strong></li>
                      <li class="list-inline-item text-muted">3</li>
                    </ul>
                  </li>
                  <li class="col-12">
                    <ul class="list-inline">
                      <li class="list-inline-item"><strong>Wallet balance :</strong></li>
                      <li class="list-inline-item text-green">Confirmed: 330.99503280</li>
                      <li class="list-inline-item text-muted">/</li>
                      <li class="list-inline-item text-muted">Unconfirmed: 0.00000000</li>
                    </ul>
                  </li>
                </ul>
                <label class="mt-3"><strong>Peers :</strong></label>
                <table class="table table-sm table-striped">
                  <tbody>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                  </tbody>
                </table>
                <label><strong>Federation members :</strong></label>
                <table class="table table-sm table-striped">
                  <tbody>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                    <tr>
                      <td class="text-left">51.141.83.38]:26178</td>
                      <td class="text-center">outbound</td>
                      <td class="text-center">height:651336</td>
                      <td class="text-right">agent:StratisBitcoin:1.2.3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex align-items-center mb-4">
                <label class="d-flex justify-content-start">
                  <strong>History <small class="text-muted">(28)</small></strong>
                </label>
                <span class="d-flex justify-content-end align-items-center ml-auto">
                  <a href="#" class="btn btn-outline-primary">See all history</a>
                </span>
              </div>
              <table class="table table-sm table-history">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Destination</th>
                    <th class="text-center" scope="col">Tx ID</th>
                    <th class="text-center" scope="col">Seen in block</th>
                    <th class="text-center" scope="col">Confirmed in block</th>
                    <th class="text-center" scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center"><i class="material-icons text-yellow md-18">schedule</i></td>
                    <td class="text-center text-truncate"><code>pTEBX8oNk6GoPufm755yuFtbBgEPmjPvdK</code></td>
                    <td class="text-left text-truncate" style="max-width: 110px;"><a href="">41a651dda85edfe703a2668a4d75a5e1dd7b3145614d5734c229c479de2af6d1</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-right">199997.00</td>
                  </tr>
                  <tr>
                    <td class="text-center"><i class="material-icons text-green md-18">check_circle</i></td>
                    <td class="text-center text-truncate"><code>pTEBX8oNk6GoPufm755yuFtbBgEPmjPvdK</code></td>
                    <td class="text-left text-truncate" style="max-width: 110px;"><a href="">41a651dda85edfe703a2668a4d75a5e1dd7b3145614d5734c229c479de2af6d1</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-right">199997.00</td>
                  </tr>
                  <tr>
                    <td class="text-center"><i class="material-icons text-green md-18">check_circle</i></td>
                    <td class="text-center text-truncate"><code>pTEBX8oNk6GoPufm755yuFtbBgEPmjPvdK</code></td>
                    <td class="text-left text-truncate" style="max-width: 110px;"><a href="">41a651dda85edfe703a2668a4d75a5e1dd7b3145614d5734c229c479de2af6d1</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-center"><a href="">123456</a></td>
                    <td class="text-right">199997.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </section>
    <!-- /content -->
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <environment include="Development">
        <script type="text/javascript" src="~/js/default.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/default.min.js"></script>
    </environment>
</body>
</html>
